.card-dashboard-jobs{
    background: #ffa726;
    border-radius: 3em;
    min-height: 12em;
    overflow: hidden;
    padding: 0.5em 1.1em;
}

.card-dashboard-jobs:hover{
    box-shadow: 5px 5px 15px 2px rgba(0, 0, 0, 0.5);
    transform: scale(1.01);
    cursor: pointer;
}

.job-card-header{
    font-size: 1.6em;
}

.seen{
    padding-right: 1.1em;
    display: inline-block;
}

.unseen{
    padding-left: 1.1em;
    display: inline-block;

}
.unseen-text, .seen-text{
    font-size: 1.2em;
}
.number-text{
    width: 40px !important;
    height: 40px !important;
    border-radius: 100%;
    padding: 0.1em;
    background: #0b2e13;

}
.vl{
    border-left: 1px solid white;
    width: 2px !important;
    display: inline-block;
    height: 100px !important;
    margin-right: auto;
    margin-left: auto;

}

.desc-job-type{
    display: inline-block;
}

