@import url('https://fonts.googleapis.com/css2?family=Goldman&family=Rajdhani&display=swap');
::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}


body{
  font-family: 'Rajdhani', sans-serif !important;
}

.nav-custom{
  background: #ffa726;
  height: 4em;
  overflow: hidden;
}

.navbar-ul{
  display: flex;
}

.navbar-ul li{
  list-style-type: none;
  padding: 1.25em;
  color: white;
  font-weight: bold;
  cursor: pointer;
  height: 100%;

}

.navbar-ul li:hover{
  background: rgba(0, 0, 0, 0.2) ;
  border-radius: 0.5em;
}

.brand-logo{
  display: inline-block;

}

.brand-logo-img{
  width: 60px;
  padding: 0.2em;
  cursor: pointer;
}

.brand-name{

  font-weight: bold;
  font-size: 1.3em;
  font-family: 'Goldman', cursive;

}

.side-menu-icon{
  display: inline-block;
  padding-right: 1em;
  font-size: 1.8em;
  color: white;
  cursor: pointer;
}

.sidebar-list{
  display: inline-block;
  float: right;

}

.active{
  background: rgba(0, 0, 0, 0.2) ;
  border-radius: 0.5em;

}
