@import url('https://fonts.googleapis.com/css2?family=Goldman&family=Rajdhani&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');
::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}


body{
  font-family: 'Rajdhani', sans-serif !important;
}

.nav-custom{
  background: #ffa726;
  height: 3.8em;
  overflow: hidden;
}

.navbar-ul{
  display: flex;
}

.navbar-ul li{
  list-style-type: none;
  padding: 1.19em;
  color: white;
  font-weight: bold;
  cursor: pointer;
  height: 100%;

}

.navbar-ul li:hover{
  background: rgba(0, 0, 0, 0.2) ;
  border-radius: 0.5em;
}

.brand-logo{
  display: inline-block;

}

.brand-logo-img{
  width: 60px;
  padding: 0.2em;
  cursor: pointer;
}

.brand-name{

  font-weight: bold;
  font-size: 1.3em;
  font-family: 'Goldman', cursive;

}

.side-menu-icon{
  display: inline-block;
  padding-right: 1em;
  font-size: 1.8em;
  color: white;
  cursor: pointer;
}

.sidebar-list{
  display: inline-block;
  float: right;

}

.active{
  background: rgba(0, 0, 0, 0.2) ;
  border-radius: 0.5em;

}

.heading:hover{
  color: #ffa726;
  cursor: pointer;

}

.hr-heading{
  background: #ffa726;
  height: 0.1em !important;
  border: none;
  width: 80%;

}

.app-btn-color {
  outline: none !important;
  border: none !important;
}

.app-btn-color:hover{
  background: #ffa726 !important;
}

.row{
  padding-top: 0.5em;
  padding-bottom: 1em;
}


.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
  padding-top: 1.5em;
}

.spinner-custom{
  top: 50%;
  left: 45%;
  position: absolute;
  justify-items: center;
}