.post-plus-icon{
    font-size: 1.3em;
    padding-right: 0.5em;
}

.area-for-post-btn{
   display: flex;
    justify-content: center;
}

.jobs-card{
    background: #ffa726;
    min-height: 8em;
    border-radius: 2em;
    padding: 1em;
}

.card-hover:hover{
    box-shadow: 5px 8px 15px 2px rgba(0,0,0, 0.5);
    cursor: pointer;
    transform: scale(1.01);
}

.post-write-btn{
    border-radius: 2em !important;
    background: rgba(0,0,0, 0.7) !important;
    padding: 0.5em 2em;

}